.wrapper {
	max-width: 1440px;
	height: 5000px;
	border: 2px solid #1b1b1b;
}

.header {
	min-height: 200px;
	background: #1b1b1b;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo {
	font-size: 48px;
	font-family: Redressed;
	color: #edf6f9;
	font-weight: 400;
	line-height: normal;
	font-style: normal;
}

.nav_menu {
	display: flex;
	justify-content: space-between;
	width: 80px;
}

.back_header3 {
	width: 100%;
}

.main_section_2 {
	padding: 144px 0px 118px 0px;
}

.main_carousel_1 {
	background-image: url(img/header-back_03.png);
	width: 100%;
	height: 648px;
}

.main_info {
	position: relative;
	left: 384px;
	top: 176px;
	border-radius: 16px;
	background: rgba(237, 246, 249, 0.8);
	box-shadow: 0px 0px 8px 2px rgba(170, 153, 141, 0.05);
	width: 672px;
	height: 296px;
}

.h1 {
	color: #1b1b1b;
	text-align: center;
	font-family: IBM Plex Serif;
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	line-height: 64px;
	padding: 30px 0px 24px 0px;
}

.h2_sec_2 {
	color: #000;
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-style: normal;
	line-height: 56px;
	font-weight: 600;
	padding: 0px 0px 48px 144px;
}

.text_under_h1 {
	color: #1b1b1b;
	text-align: center;
	font-family: Open Sans;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px;
	padding: 0px 0px 30px 0px;
}

.button1 {
	position: relative;
	text-align: center;
	width: 432px;
	padding: 16px 10px;
	border-radius: 8px;
	background: #83c5be;
	color: #1b1b1b;
	font-family: Open Sans Hebrew;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin: 48px 0px 0px 120px;
	box-shadow: none;
}

.scroll_1 {
	display: flex;
	justify-content: space-evenly;
	/* column-gap: 48px; */
}

.back_pngwing_1 div {
	color: #000;
	text-align: center;
	font-family: IBM Plex Sans Condensed;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.back_pngwing_2 div {
	color: #000;
	text-align: center;
	font-family: IBM Plex Sans Condensed;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.back_pngwing_3 div {
	color: #000;
	text-align: center;
	font-family: IBM Plex Sans Condensed;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.back_pngwing_4 div {
	color: #000;
	text-align: center;
	font-family: IBM Plex Sans Condensed;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.back_pngwing_1,
.back_pngwing_2,
.back_pngwing_3,
.back_pngwing_4:nth-child(4) {
	color: #000;
	text-align: center;
	font-family: IBM Plex Sans Condensed;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.back_pngwing_1 {
	display: flex;
	width: 312px;
	height: 378px;
	padding: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	border-radius: 16px;
	background: #dad7cd;
}

.back_pngwing_2 {
	display: flex;
	width: 312px;
	height: 378px;
	padding: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	border-radius: 16px;
	background: #dad7cd;
}

.back_pngwing_3 {
	display: flex;
	width: 312px;
	height: 378px;
	padding: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	border-radius: 16px;
	background: #dad7cd;
}

.back_pngwing_4 {
	display: flex;
	width: 312px;
	height: 378px;
	padding: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	border-radius: 16px;
	background: #dad7cd;
}

.main_section_3 {
	display: flex;
	padding: 118px 0px 144px 0px;
	background-color: #1b1b1b;
	width: 100%;
	height: 656px;
}

.img_under_sec_3 {
	position: relative;
	top: 52.5px;
	right: 744px;
	bottom: 51.5px;
	left: 144px;
	flex-shrink: 0;
	width: 552px;
	height: 552px;
}

.con_sec_3 {
	width: 531px;
	position: relative;
	left: 248px;
	top: 140px;
}

.h2_sec_3 {
	color: #f2f7f9;
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

.h2_sec_3 > span {
	color: #f2f7f9;
	font-family: Redressed;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 56px;
}

.p_sec_3 {
	color: #f2f7f9;
	font-family: Open Sans Hebrew;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}

.button2 {
	width: 312px;
	padding: 16px 10px;
	border-radius: 8px;
	background: #f2f7f9;
	color: #1b1b1b;
	font-family: Open Sans Hebrew;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
	margin-top: 40px;
	box-shadow: none;
}

.scroll_1_0 {
	display: flex;
	width: 1152px;
	gap: 48px;
	padding: 48px 0px 0px 144px;
}

.text_scroll {
	color: #000;
	text-align: center;
	font-family: Open Sans Hebrew;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.h2_sec_4 {
	color: #000;
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
	padding: 144px 0px 48px 75px;
}

.con_blog {
	width: 1152px;
	display: flex;
	gap: 108px;
	padding: 64px 0px 109px 144px;
}

.h2_sec_5 {
	color: #000;
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
	padding: 144px 0px 48px 75px;
}

.text_blog {
	color: #1b1b1b;
	font-family: IBM Plex Serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 32px;
}

.data_blog {
	color: #000;
	font-family: Red Hat Display;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	margin-top: 8px;
}

.p_blog_1 {
	color: #1b1b1b;
	font-family: Open Sans Hebrew;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-top: 20px;
}

.p_blog_2 {
	color: #1b1b1b;
	font-family: Open Sans Hebrew;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-top: 8px;
}

.logo {
}

.burger_menu-nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-direction: column;
	background-color: rgba(237, 246, 249, 0.9);
	width: 350px;
	height: 1000px;
	left: 0px;
	z-index: 20;
	border-radius: 20px;
}

.h2_burger {
	color: #83c5be;
	font-family: IBM Plex Serif;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
	margin-top: 350px;
}

.h2_burger-2 {
	color: #1b1b1b;
	font-family: IBM Plex Serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px;
}

.burger_menu-link {
	font-family: IBM Plex Serif;
	color: #1b1b1b;
	text-decoration: none;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}

.burger_language {
	display: flex;
	width: 90%;
	justify-content: space-between;
	color: #1b1b1b;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}

.hide {
	display: none;
}
